[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bootLRTpairwise"]
	path = bootLRTpairwise
	url = https://github.com/cran/bootLRTpairwise
